.timelineContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  // margin-bottom: 20px;
}

.timelineLine {
  background-color: #00ff96;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
  transition: all 0.8s ease-out;
}

.timelineLineLoaded {
  opacity: 1;
  transform: translateX(-50%) scaleY(1);
}

.pointInfo,
.skillsList {
  position: absolute;
  top: 0;
  padding: 10px;
  opacity: 0;
  transition: all 0.6s ease-out;
  letter-spacing: 0.05em;
}

.pointInfoLoaded {
  opacity: 1;
  transform: translateX(0);
}

.skillsList {
  left: calc(100% + 20px);
  width: 200px;
}

.careerPointContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Mobile styles */
@media (max-width: 768px) {
  .timelineContainer {
    justify-content: flex-start;
    height: 100vh;
  }

  .timelineLine {
    left: 0;
  }
}
