.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scrollbar-width: none;
}

.contentCard {
  display: flex;
  width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  border: 1px solid;
  border-color: var(--primary-accent);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary-accent-50);
  background: var(--background);
  flex-direction: row;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tabs {
  background-color: var(--background);
  border: 1px solid var(--primary-accent);
  color: var(--text-color);
  padding: 10px;
  border-radius: 4px;
  margin: 0 2px 0 0;
  border-bottom: 0px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--primary-accent-50);
  font-family: var(--font-vt323);
  font-size: 30px;
}

.activeTab {
  border-color: var(--highlights);
  box-shadow: 0 0 10px var(--highlights-50);
  color: var(--highlights);
}

.tabs:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.tabsContainer {
  display: flex;
  margin: 12px;
  gap: 14px;
}

@media screen and (max-width: 600px) {
  .contentCard {
    flex-direction: column;
    width: 100vw;
  }

  .tabs {
    font-size: 15px;
  }
}
