.projectsSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0px;

  .projectCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--primary-accent);
    box-shadow: 0 0 10px 0 var(--primary-accent-50);
    border-radius: 10px;
    align-items: center;
    width: 300px;
    text-align: center;
  }

  .projectLinks {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .projectsSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
