.projectsSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0px;

  .projectCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--primary-accent);
    box-shadow: 0 0 10px 0 var(--primary-accent-50);
    border-radius: 10px;
    align-items: center;
    width: 300px;
    text-align: center;
  }

  .projectLinks {
    display: flex;
    gap: 10px;
  }

  .liveWebsiteLink,
  .githubLink {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--primary-accent);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 var(--primary-accent-50);
    text-wrap: wrap;
  }

  .projectDescription {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
  }
}

@media (max-width: 1024px) {
  .projectsSection {
    align-items: center;
    justify-content: center;
  }
}
